extends ../dashboard

block field

    form.form-horizontal(method='POST',action='/dashboard/user/update/'+data.usuario_id)
        fieldset
            // Form Name
            legend Usuario
            // Text input
            .form-group
                label.col-md-4.control-label(for='email') email
                .col-md-4
                    input#email.form-control.input-md(value=data.email name='email', type='email', placeholder='email', required='')
            // Text input
            .form-group
                label.col-md-4.control-label(for='nombres') nombres
                .col-md-4
                    input#nombres.form-control.input-md(value=data.nombres name='nombres', type='nombres', placeholder='nombres', required='')
            // Text input
            .form-group
                label.col-md-4.control-label(for='apellidos') apellidos
                .col-md-4
                    input#apellidos.form-control.input-md(value=data.apellidos name='apellidos', type='apellidos', placeholder='apellidos', required='')
            // Text input
            .form-group
                label.col-md-4.control-label(for='edad') edad
                .col-md-4
                    input#edad.form-control.input-md(value=data.edad name='edad', type='edad', placeholder='edad', required='')
            // Password input
            .form-group
                label.col-md-4.control-label(for='telefono') telefono
                .col-md-4
                    input#telefono.form-control.input-md(value=data.telefono name='telefono', type='telefono', placeholder='telefono', required='')
            // Button
            .form-group
                .col-md-4
                    button#Guardar.btn.btn-primary(type='submit') Guardar
                .col-md-4
                    a(href='/dashboard/users'): button#Editar.btn.btn-primary(type='button') Cancelar
            .form-group
                .col-md-4
                    p= err


